/* src/index.css or src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* Apply the 'sans' font family which includes Poppins */
  scroll-behavior: smooth;
}


/* Scroll bar Customization*/

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background : linear-gradient(to right, #67b26f, #4ca2cd);
    border-radius: 5px;
  }

/* Hero image animation */

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 6s infinite;
}
